/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
  box-sizing: border-box;
  --accent: hsl(286, 99%, 29%);
  /* Violet */
  --background: white;
  --accent-text: white;
  --text: black;
}


body {
  background-color: var(--background);
  color: var(--text);
  font-family: Verdana;
}

.box {
  border: 1px solid var(--text);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  max-width: 1000px;
  margin: auto;
  gap: 1rem;

  &>* {
    padding: 1rem;
  }
}

.bold {
  font-weight: bold;
  color: var(--accent);
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  & p {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: var(--accent-text);
    height: fit-content;
  }

}


main {
  grid-area: main;
}

.nav {
  grid-area: nav;

  &>* {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;


    &>a {
      color: var(--accent-text);
      text-decoration: none;
      background: var(--accent);
      padding: 0.30rem;
      border-radius: 0.30rem;

      &:hover {
        background-color: var(--accent-text);
        color: var(--accent);
      }
    }
  }
}

footer {
  grid-area: footer;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: white;
  }
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";

  }

  header {
    flex-direction: row;
  }

  .nav {

    &>* {
      display: flex;
      flex-direction: column;

      &>a {
        width: fit-content;
      }

    }
  }
}
